DATABASE_URL="postgresql://user:password@localhost:5432/mydb"

JWT_SECRET="change-this-secret"
JWT_EXPIRES_IN="1h"

PORT=3000

CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"